<!DOCTYPE html>
{% load static %}
{#模板中引用静态文件#}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rango</title>
    <link href="{% static 'bootstrap-3.3.7-dist/css/bootstrap.css' %}">
    <script src="{% static 'bootstrap-3.3.7-dist/js/bootstrap.js' %}"></script>
</head>
<body>
<div>
    this is rango {{ boldmessage }}
    <div class="img-thumbnail">
        <img src="{% static 'images/timg.jpeg' %}" alt="rango">
    </div>
    <div>
        {% if category %}
            <table>
                {% for c in category %}
                    <tr>
                        <td>
                            {#取值的时候注意#}
                            {{ c.likes }}
                        </td>
                        <td>
                            {{ c.views }}
                        </td>
                        <td>
                            <a href="/rango/page/{{ c.slug }}">{{ c.name }}</a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <strong>没有值</strong>
        {% endif %}
    </div>

</div>
</body>
</html>